<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title}">Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/table.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<h2 th:text="#{title.apartment}">Tab of Apartments</h2>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th th:text="#{table.header.number}">Number</th>
            <th th:text="#{table.header.floor}">Floor</th>
            <th th:text="#{table.header.branch}">Branch</th>
            <th th:text="#{table.header.street}">Street</th>
            <th th:text="#{table.header.voteValue}">Vote value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="apartment:${apartment}">
            <td th:text="${apartment.id}"></td>
            <td th:text="${apartment.flor}"></td>
            <td th:text="${apartment.branchAntenna}"></td>
            <td th:text="${apartment.street}"></td>
            <td th:text="${apartment.voteValue}"></td>
        </tr>
        </tbody>
    </table>
</div>
<h2 th:text="#{title.owners}">Owners</h2>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th th:text="#{table.header.firstName}">First Name</th>
            <th th:text="#{table.header.lastName}">Last Name</th>
            <th th:text="#{table.header.email}">Email</th>
            <th th:text="#{table.header.phone}">Phone</th>
            <th th:text="#{table.header.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person:${ownersList}">
            <td th:text="${person.firstName}"></td>
            <td th:text="${person.lastName}"></td>
            <td th:text="${person.email}"></td>
            <td th:text="${person.phone}"></td>
            <td>
                <form th:action="@{/api/v2/persons/{id}(id=${person.id})}" method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <form th:action="@{/api/v2/persons/update/{id}(id=${person.id})}" th:method="GET">
                    <input type="hidden" name="_method" value="GET" />
                    <button type="submit" class="btn btn-danger">Load</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h2 th:text="#{title.users}">Users</h2>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th th:text="#{table.header.firstName}">First Name</th>
            <th th:text="#{table.header.lastName}">Last Name</th>
            <th th:text="#{table.header.email}">Email</th>
            <th th:text="#{table.header.phone}">Phone</th>
            <th th:text="#{table.header.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person:${usersList}">
            <td th:text="${person.firstName}"></td>
            <td th:text="${person.lastName}"></td>
            <td th:text="${person.email}"></td>
            <td th:text="${person.phone}"></td>
            <td>
                <form th:action="@{/api/v2/persons/{id}(id=${person.id})}" method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <form th:action="@{/api/v2/persons/update/{id}(id=${person.id})}" th:method="GET">
                    <input type="hidden" name="_method" value="GET" />
                    <button type="submit" class="btn btn-danger">Load</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h2 th:text="#{title.soldMovedOut}">Sold Moved Out</h2>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th th:text="#{table.header.firstName}">First Name</th>
            <th th:text="#{table.header.lastName}">Last Name</th>
            <th th:text="#{table.header.email}">Email</th>
            <th th:text="#{table.header.phone}">Phone</th>
            <th th:text="#{table.header.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person:${soldMovedOutsList}">
            <td th:text="${person.firstName}"></td>
            <td th:text="${person.lastName}"></td>
            <td th:text="${person.email}"></td>
            <td th:text="${person.phone}"></td>
            <td>
                <form th:action="@{/api/v2/persons/{id}(id=${person.id})}" method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <form th:action="@{/api/v2/persons/update/{id}(id=${person.id})}" th:method="GET">
                    <input type="hidden" name="_method" value="GET" />
                    <button type="submit" class="btn btn-danger">Load</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/menu :: footer}"></div>
</body>

</html>