<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/table.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<h2>Tab of Apartments</h2>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meeting:${meetings}">
            <td th:text="${meeting.date}"></td>
            <td th:text="${meeting.name}"></td>
            <td>
                <form th:action="@{/api/v2/houseMeetings/update/{id}(id=${meeting.id})}" method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <form th:action="@{/api/v2/houseMeetings/update/{id}(id=${meeting.id})}" th:method="GET">
                    <input type="hidden" name="_method" value="GET" />
                    <button type="submit" class="btn btn-danger">Load</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/menu :: footer}"></div>
</body>

</html>