<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title}">User add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>

<div class="container">
    <h1 th:text="#{title.addHouseMeetingHeader}">Add</h1>
    <form action="#" th:action="@{/api/v2/houseMeetings/add}" th:object="${addUpdateHouseMeeting}"
          method="POST">
        <div class="form-group">
            <label for="date" th:text="#{label.dateOfHouseMeeting}">Date:</label>
            <input type="text" class="form-control" id="date" th:field="*{date}" required>
        </div>
        <div class="form-group">
            <label for="name" th:text="#{label.nameOfHouseMeeting}">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label for="topics" th:text="#{label.topicsOfHouseMeeting}">Topics:</label>
            <textarea class="form-control" id="topics" th:field="*{topics}" required th:value="${#strings.listJoin(topics, '\n')}"></textarea>
        </div>
        <div class="form-group">
            <label for="apartmentNumber" th:text="#{label.apartmentsOfHouseMeeting}">Apartments:</label>
            <textarea class="form-control" id="apartmentNumber" th:field="*{apartmentNumber}" required th:value="${#strings.listJoin(apartmentNumber, '\n')}"></textarea>
        </div>

        <button type="submit" class="btn btn-info col-2" th:text="#{button.addHouseMeetingConfirmButton}">Update</button>
    </form>

</div>
<script th:src="@{/js/check.js}"></script>

<div th:replace="~{fragments/menu :: footer}"></div>
</body>
</html>