<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title}">Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/table.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<h1 th:text="#{title.tebleOfApartments}">Tab of Apartments</h1>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th th:text="#{table.header.dateOfHouseMeeting}">Date</th>
            <th th:text="#{table.header.nameOfHouseMeeting}">Name</th>
            <th th:text="#{table.header.action}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meeting:${meetings}">
            <td th:text="${meeting.date}"></td>
            <td th:text="${meeting.name}"></td>
            <td>
                <form th:action="@{/api/v2/houseMeetings/update/{id}(id=${meeting.id})}" method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger" th:text="#{button.delete}">Delete</button>
                </form>
                <form th:action="@{/api/v2/houseMeetings/update/{id}(id=${meeting.id})}" th:method="GET">
                    <input type="hidden" name="_method" value="GET" />
                    <button type="submit" class="btn btn-danger" th:text="#{button.load}">Load</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/menu :: footer}"></div>
</body>

</html>