<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title}">User add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/table.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>

<div class="container">
    <h1 th:text="#{title.formForAddHouseMeeting}">Add user</h1>
    <form action="#" th:action="@{/api/v2/houseMeetings/update/}" th:object="${houseMeeting}"
          method="POST">
        <div class="form-group">
            <input type="hidden" class="form-control" id="id" readonly="readonly" th:field="*{id}" required>
        </div>
        <div class="form-group">
            <label for="date" th:text="#{label.dateOfHouseMeeting}">Date:</label>
            <input type="text" class="form-control" id="date" th:field="*{date}" required>
        </div>
        <div class="form-group">
            <label for="name" th:text="#{label.nameOfHouseMeeting}">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label for="topics" th:text="#{label.topicsOfHouseMeeting}">Topics:</label>
            <textarea class="form-control" id="topics" th:field="*{topics}" required th:value="${#strings.listJoin(topics, '\n')}"></textarea>
        </div>
        <div class="form-group">
            <label for="apartmentNumber" th:text="#{label.apartmentsOfHouseMeeting}">Apartments:</label>
            <textarea class="form-control" id="apartmentNumber" th:field="*{apartmentNumber}" required th:value="${#strings.listJoin(apartmentNumber, '\n')}"></textarea>
        </div>

        <button type="submit" class="btn btn-info col-2"  th:text="#{button.updateHouseMeeting}">Update Person</button>
    </form>
    <h1 th:text="#{title.tableOfApartments}">Tab of Apartments</h1>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th th:text="#{table.header.number}">Number</th>
                <th th:text="#{table.header.floor}">Floor</th>
                <th th:text="#{table.header.branch}">Branch</th>
                <th th:text="#{table.header.street}">Street</th>
                <th th:text="#{table.header.voteValue}">Vote value</th>
                <th th:text="#{table.header.action}">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="apartment:${apartmentsOnHouseMeeting}">
                <td th:text="${apartment.id}"></td>
                <td th:text="${apartment.flor}"></td>
                <td th:text="${apartment.branchAntenna}"></td>
                <td th:text="${apartment.street}"></td>
                <td th:text="${apartment.voteValue}"></td>
                <td>
                    <form th:action="@{/api/v2/apartments/{id}(id=${apartment.id})}" th:method="GET">
                        <input type="hidden" name="_method" value="GET" />
                        <button type="submit" class="btn btn-danger" th:text="#{button.load}">Load</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/js/check.js}"></script>

<div th:replace="~{fragments/menu :: footer}"></div>
</body>
</html>